<table style="width:100%">
  <tr>
    <td>
      <p class="lede">
        Dear <%= @shipment.address.first_name %>
      </p>
      <p>
        <%= Spree.t('shipment_mailer.shipped_email.instructions') %>!
      </p>
      <br>
      <table style="width:100%; background-color:#fcfcfc; border:solid thin lightgray;">
        <tr>
          <th colspan="4" style="padding:8px;">
            <%= Spree.t('shipment_mailer.shipped_email.shipment_summary') %>
            <div style="float:right; font-weight: initial;">
              <%= 'Tracking:' if @shipment.tracking %>
              <%= link_to @shipment.tracking, @shipment.tracking_url if @shipment.tracking_url %>
            </div>
            <hr>
          </th>
        </tr>
        <% @shipment.manifest.each do |item| %>
            <tr>
              <td style="padding:8px;"><%= item.variant.sku %></td>
              <td style="padding:8px;"><%= item.variant.product.name %></td>
              <td style="padding:8px;"><%= item.variant.options_text %></td>
              <td style="padding:8px;">x<%= item.quantity %></td>
            </tr>
        <% end %>
      </table>
      <br>
      <br>
      <p>Best,</p>
      <p class="lede">The Friendly Insole Team</p>
    </td>
  </tr>
</table>
